<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Height</th>
                <th>Weight</th>
                <th>BMI</th>
            </tr>
        </thead>
        <tbody>
            {{#each bmiData}}
            <tr>
                <td>{{height}}</td>
                <td>{{weight}}</td>
                <td>{{bmi}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h2>The BMI Average is: {{average}}</h2>
    <h2>The Average BMI is {{explainAverage}}</h2>
</body>

</html>